// Colors
$primary: #4e5252;
$secondary: #224A63;
$active: #03C2EE;
$shadow: 0 5px 15px 0 #77777799;
$shadow-right: 5px 0px 15px 0 #77777755;

// Fonts
$pfont: 'Source Sans Pro',
sans-serif;

$sfont: 'Lato',
sans-serif;

@import 'transitions';
